.before {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}


.half-width {
    width: 40%;
    float: left;
    
    }
#unique {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: #FF8367;
    line-height: 90px;
    padding-left: 280px;
    padding-top: 250px;
    font-weight: 700px;
}
.color {
    color: #363958;
}
.half-width p  {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300px;
    padding-left: 280px;
    padding-bottom: 15px;
    }
img {
    width: 90%;
    padding-left: 250px;
    
    }
.half-width a {
    
    text-decoration: none;
    background-color: chocolate;
    border: 10px 20px;
    padding: 15px 40px;
    margin-left: 280px;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    
}    
.width {
    width: 40%;
    float: left;
    padding-left: 350px;
}

}
.width p  {
    padding-left: 150px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 70px;
    
}
.second {
    width: 40%;
    float: left;
}
.second img {
    width: 100%;
    padding-left: 200px;
    margin-top: 1px;
    
}
.width h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: #FF8367;
    font-weight: 700px;
    padding-top: 280px;
    padding-left: 30px;
}
.width a {
    text-decoration: none;
    background-color: chocolate;
    border: 10px 20px;
    padding: 15px 40px;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    
    margin-left: 30px;
}
p {
    color: #3E3E3E;
    padding-bottom: 30px;
    padding-left: 30px;
}
h2 {
    text-align: right;
    word-spacing: 35px;
    padding-right: 250px;
    color: #3C3C3C;
    font-size: 20px;
    font-family: roboto;
}



.before{
    border: 5px solid red;
    height: 1000px;

}
.card-section{
    background-color: #fbfbfb;
    padding-bottom: 90px;
    
}
.section-header{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    padding: 80px 0px;
}
.section-header h1 span{
    color: red;
}
.container{
	
	
    align-items: center;
    
}
.parent {
 
    text-align: center;
     
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 1fr;
     grid-column-gap: 0px;
     grid-row-gap: 0px;
     }
.card{
   width: 380px;
    height: auto;
    background-color: #fff;
    margin: 0px 25px 25px 135px;
    padding: 20px 15px;
    border-radius: 15px 15px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
    
}
.card img {
   
}
.card-heading{
    font-weight: 700;
    text-align: left;
    font-size: 24px;
}
.card-des{
    text-align: left ;
    color: #9c9c9c;
}
 .parent img{
        width: 370px;
        border-radius: 15px 15px;
        padding-left: 0px;
 }

 .inquiry{
    background-color: #fff;
    padding: 60px 0px;
    
}
.inquiry-main{
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
  
}

   .inquiry-main img{
       width: 60%;
       padding-left: 20px;
       margin-top: 80px;
    
   }
   .inquiry-main h1{
    position: absolute;
    top: 35%;
    left: 25%;
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    font-weight: 700px;
    font-family: 'Bebas Neue', cursive;
   }
   .btn{
       position: absolute;
       background-image: linear-gradient(45deg, lightsalmon, tomato);
       padding: 20px 35px;
       color: white;
       text-decoration: none;
       border-radius: 10px;
       top: 55%;
       right: 25%;
       font-family: 'Roboto', sans-serif;
   }